<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
</head>
<body>
    
    <h1>Monthly Expenses vs Monthly Income graph</h1>

    <div>
        <canvas id="myChart"></canvas>
        
    </div>
    

    <button class="btn"> <a href="{% url 'index' %}"> GO BACK</a></button>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>

        const ctx = document.getElementById('myChart');

        
        new Chart(ctx, {
           type: 'bar',
            data: {
                datasets: [{
                    label: 'Income',
                    data: {{monthly_income |safe}},
                    // this dataset is drawn below
                    order: 2
                }, {
                    label: 'Expenses',
                    data: {{expenses| safe}},
                    type: 'line',
                    // this dataset is drawn on top
                    order: 1
                }],
                labels: {{months| safe}}
            },
                    });
    </script>
    
</body>
</html>